.todaysHighlights {
  width: 100%;

  &.container {
    padding: 20px;
  }

  .highlightBlocks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.container {
      padding: 20px;
    }
    .highlightBlock {
      width: 34vh;
      height: 30vh;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      background-color: #ffff;
      border-radius: 25px;
      box-shadow: 3px 3px 10px #c4c5c8;

      .highlightBlock-title {
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 16px;
        color: #dddddd;
      }
      .highlightBlock-content {
        font-size: 30px;
      }
      .sunriseAndSunset {
        display: flex;
        flex-direction: column;
        div {
          display: flex;
          align-items: center;
          gap: 3px;
        }
      }
    }
  }
}

@media (max-width: 1260px) {
  .todaysHighlights {
    .highlightBlocks {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      .highlightBlock {
        width: 20vw;
        height: 30vh;
      }
    }
  }
}
@media (max-width: 1124px) {
  .todaysHighlights {
    .highlightBlocks {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      .highlightBlock {
        width: 27vw;
        height: 35vh;
      }
    }
  }
}

@media (max-width: 800px) {
  .todaysHighlights {
    .highlightBlocks {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .highlightBlock {
        width: 35vw;
        height: 35vh;
      }
    }
  }
}

@media (max-width: 667px) {
  .todaysHighlights {
    .highlightBlocks {
      width: 100%;
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      .highlightBlock {
        width: 35vw;
        height: 35vh;
      }
    }
  }
}
@media (max-width: 554px) {
  .todaysHighlights {
    .highlightBlocks {
      grid-template-columns: 1fr;
      justify-items: center;

      .highlightBlock {
        width: 45vw;
        height: 35vh;
        .sunriseAndSunset {
          div {
            img {
              width: 35px;
            }
            span {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}
